<% provide(:title, 'Today') %>

<h1>Today</h1>

<ul class="users">
    <% @todos.each do |todo| %>
        <li>
            <%= link_to todo.subject, edit_todo_path(todo) %>
            <button type="button" class="btn btn-success btn-xs pull-right">MARK COMPLETE</button>
        </li>
    <% end %>
</ul>

